*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.title01{
  font-variant: small-caps;
}
label{
  font-weight: bold;
  font-variant: small-caps;
}

tr th, td{
  font-variant: small-caps;
}
